body{ 
	height: 100% 
}

#skin-loader {
	background: url(images/skin-loader.gif) center center no-repeat;
	display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#skin-wrapper {
	display: none;
}

#banner {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 5px;
	background: white;
	border: 1px solid #e3e3e3;
}

#banner img {
	display: block;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#banner,
	#github-ribbon {
		display: none;
	}
}